@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Świat Browaru - Katalog browarów</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Browary</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: browarnias">
                    <li>
                        <strong><span data-bind="text: Id"></span></strong>: <span data-bind="text: Name"></span>
                        <small><a href="#" data-bind="click: $parent.getBrowarniaDetail">Szczegóły</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>


    <!-- ko if:browarniaDetail() -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Szczegóły</h2>
            </div>
            <table class="table">
                <tr><td>Id</td><td data-bind="text: browarniaDetail().Id"></td></tr>
                <tr><td>Nazwa</td><td data-bind="text: browarniaDetail().Name"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->
</div>